<ion-header>
  <ion-navbar>


      <ion-searchbar
        placeholder="Search...."
      [(ngModel)]="myInput"
      [showCancelButton]="shouldShowCancel"
      [animated]="true"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
     </ion-navbar>
</ion-header>

<ion-content padding-left="1px" padding-right="1px" >


<!--
  <ion-list  >
    <ion-item *ngFor="let item of items |search:'name,catagory,phone,email':iname"  tappable (click)="goto(item.email)" >
    </ion-item>
  </ion-list>

  -->


  <ion-card (click)="gotochat(item.email)"  [hidden]="item.show=='true'?false:true"  *ngFor="let item of docterdata|search:'name,doctor_type':myInput" >

    <img [src]="item.bg_img" style="width: 100%;height: 130px;"/>

    <ion-card-content>
      <ion-card-title>

        <h2 style="color: mediumorchid; text-align:left" [innerHTML]="item.name"></h2>

        <h5 style="color: #d3891f; text-align: justify;font-size: 12px;" [innerHTML]="item.doctor_type"></h5>
      </ion-card-title>
      <p [innerHTML]="item.about" style="text-align:justify;font-size: 10px;">
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='pin'></ion-icon>
       <p [innerHTML]="item.Location" style="text-align: justify;color: #ffaf24;font-size: 12px;"></p>
        </button>
      </ion-col>

    </ion-row>

  </ion-card>




</ion-content>
